<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
</head>

<body>
    <h1>
        Bem vindo {{ user }}
    </h1>
    <hr>
    {% if user.is_staff %}
    Chamadas abertos:<br>
    {% else %}
    Chats abertos:<br>
    {% endif %}
    <hr>
    <ul>
        {% for chat in chats %}
        <li>
            <span>{{ chat.title }} <a href="/chat/{{ chat.title_group_name }}">
                <button type="button">
                    Acessar
                </button>
            </a></span><br>
        </li>
        {% endfor %}
    </ul>

    <hr>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>

</html>